.custom-modal .modal-dialog {
  max-width: 800px;
  width: 90%;
}

.custom-modal .modal-content {
  padding: 20px;
  border-radius: 15px;
}

.custom-modal .modal-header {
  display: flex;
  justify-content: center;
  border-bottom: none;
  position: relative;
  padding-bottom: 0;
}

.modal-title-custom {
  background-color: rgb(28 168 202);
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 2.5rem;
  border-radius: 15px;
  width: fit-content;
  height: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -45px;
}

.custom-modal .modal-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  border-bottom: none;
}

.custom-modal .modal-content {
  border-radius: 20px;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.modal-body img {
  max-width: 200px;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}