.groups-container {
  display: flex;
  justify-content: space-between; /* Đặt 2 cột ở 2 bên */
  gap: 40px; /* Khoảng cách giữa hai cột */
  align-items: flex-start; /* Căn chỉnh cả hai cột ở trên cùng */
}

.group-column {
  width: 50%;
  margin-left: 6%;
}

.group-column-title {
  text-align: center;
  margin-bottom: 16px;
}

.group-circle-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
  margin-bottom: 16px;
}

.group-circle-large {
  width: 120px;
  height: 120px;
  background-color: #1890ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  position: relative;
  animation: scaleIn 1.5s ease-in-out infinite;
}

.group-circle-small {
  width: 40px;
  height: 40px;
  background-color: #ff4d4f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  margin-left: -40px;
  z-index: 1;
  top: 40px;
  position: relative;
}

.early-group .group-circle-large {
  background: linear-gradient(-45deg, #005241, #128066, #00524f, #008d87);
}

.late-group .group-circle-large {
  background: linear-gradient(-45deg, #ff6961, #ff7f7f, #ff5c5c, #ff4040);
}

.vertical-divider {
  width: 1px;
  background-color: #ddd;
  height: 100%;
  position: relative;
  margin: 0 20px;
}

@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
