.cancel-button {
  background-color: rgba(248, 83, 83, 0.91);
  color: #fff;
  height: 2.2rem;
  border-style: none;
  border-radius: 6px;
  padding: 0 1rem;
  font-weight: 500;
}

.cancel-button:hover {
  background-color: rgba(255, 139, 139, 0.91);
}

.update-button {
  background-color: #62b6cb;
  color: #fff;
  height: 2.2rem;
  border-style: none;
  border-radius: 6px;
  padding: 0 1rem;
  font-weight: 500;
}

.update-button:hover {
  background-color: #8EC7D6;
}


.confirm-button {
  background-color: rgb(135, 208, 104);
  color: #fff;
  height: 2.2rem;
  border-style: none;
  border-radius: 6px;
  padding: 0 1rem;
  font-weight: 500;
}

.confirm-button:hover {
  background-color: rgb(160, 224, 133);
}

.confirm-button:disabled {
  background-color: #d9d9d9;
  color: #a9a9a9;
  cursor: not-allowed;
  opacity: 0.7;
}

.cancel-button:disabled {
  background-color: #d9d9d9;
  color: #a9a9a9;
  cursor: not-allowed;
  opacity: 0.7;
}

.confirm-button:disabled:hover {
  background-color: #d9d9d9;
}

.custum-button {
  background-color: #62b6cb;
  color: #fff;
  height: 2rem;
  border-style: none;
  border-radius: 6px;
  padding: 0 1rem;
  font-weight: 500;
}

.custum-button:hover {
  background-color: #8ec7d6;
}

.custum-button:disabled {
  background-color: #98c9d5;
  color: #a9a9a9;
  cursor: not-allowed;
  opacity: 0.7;
}

.custum-button:disabled:hover {
  background-color: #98c9d5;
}