.demo-logo-vertical {
    color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

/* .demo-logo-vertical .text-logo{
    text-align: center;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
    height: 2rem;
    width: 100%;
    margin: 0px;
    padding: 4px 0px;
} */

.custom-icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 1.2rem;
    color: inherit; 
    height: 100%;
  }

  .user-circle-icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 2rem; 
    height: 100%;
  }