/* Dashboard.css */

/* Hiệu ứng nhấp nháy cho Alert cảnh báo */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.custum-timeline .ant-timeline-item-head-blue {
  background-color: rgb(245, 245, 245);
  font-size: 20px;
}
.alert-custum-dash .ant-alert-icon {
  font-size: 21px;
}
.alert-custum-dash .ant-alert-message {
  font-size: 21px;
}
.blinking-card {
  animation: blinking 1.5s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
