.sign-in-container {
  font-family: "monserrat", sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #fff 50%, #40a9ff 50%);
}

.sign-in-full-height::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.card-title-login {
  color: #40a9ff;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.error-message-response {
  color: red;
}

.input-email,
.input-password {
  border: 1px solid #ccc;
  /* border-radius: 10px; */
  outline: none;
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  margin-top: 1px;
  padding-left: 10px;
  /* background-color: #faf9f9; */
}

.input-email:focus,
.input-password:focus {
  border: 1px solid #3c91e6;
}

.input-email.error,
.input-password.error {
  border-bottom: 1px solid red;
}

.input-email:focus,
.input-password:focus {
  border-bottom: 1px solid #fff;
}

.lg_error_message {
  color: red;
  font-size: 0.875rem;
}

.forgot-password-p {
  cursor: pointer;
  font-size: 0.9rem;
  margin: 10px 0;
  color: #40a9ff;
}

.forgot-password-p:hover {
  text-decoration: underline;
  color: rgb(6, 133, 238);
}

.card-login-body {
  width: 80%;
  border: 1px solid #ccc;
  padding: 2.1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #fffefe;
  max-width: 473.85px;
  min-height: 400px;
}

.label-login {
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 4px;
}

.login-button {
  background: #40a9ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(29, 145, 239);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .card-login-body {
    width: 80%;
    padding: 20px;
    max-width: 350px;
  }

  .card-title-login {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .input-email,
  .input-password {
    font-size: 13px;
    padding: 8px 5px;
  }

  .login-button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .card-login-body {
    width: 100%;
    padding: 15px;
    max-width: 300px;
  }

  .card-title-login {
    font-size: 1rem;
  }

  .label-login {
    font-size: 11px;
  }

  .login-button {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .card-login-body {
    padding: 10px;
    max-width: 280px;
  }

  .card-title-login {
    font-size: 0.9rem;
  }

  .input-email,
  .input-password {
    font-size: 12px;
    padding: 6px;
  }

  .login-button {
    font-size: 0.75rem;
    padding: 6px;
  }
}
