
.limitwords{
    font-weight: 500;
    font-style: italic;
}

.hint_addspecialty{
    font-style: italic;
    font-weight: 450;
    color: gray;
}


.speicalty_tag{
    display: flex;
    align-items: center;
    background-color: rgb(68, 81, 197);
    color: #FFF;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 7px;
}

.speicalty_edittag{
    display: flex;
    align-items: center;
    background-color: rgb(68, 81, 197);
    color: #FFF;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 7px;
    cursor: pointer;
}

.key_enter{
    border: 1px solid gray;
    padding: 2px;
}