/* src/components/Navbar.css */
.navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0 24px;
  position: fixed;
}

.logo {
  background-image: url("../../assets/images/logo-2-nobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 43px;

  text-decoration: none;
  cursor: pointer;
  border-radius: 32px;
}

.logo-title {
  font-size: 24px;
  font-weight: bold;
  /* margin-left: 5px; */
  color: rgb(98, 182, 203);
  margin: 5px 0 0 53px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  border: none;
  margin-right: 20px;
  position: relative;
  top: -1px;
}

.notification-link {
  text-decoration: none;
}

.bell-icon {
  color: #ffd700;
  animation: ring 1s ease infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.notification-menu-item {
  position: relative;
}

.notification-bell-wrapper {
  position: relative;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.notification-bell-wrapper:hover {
  background-color: #f0f0f0;
}

.notification-dropdown-container {
  position: absolute;
  top: 50px; /* Adjust based on navbar height */
  right: 10px; /* Align with the bell icon */
}

.bell-icon {
  color: #1890ff;
}

.logout-text {
  cursor: pointer;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }

  .notification-dropdown-container {
    right: 10px;
    top: 45px;
  }
}
