.rbc-calendar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rbc-header {
  color: white;
  font-size: 14px !important;
  background: #60B2C7;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-time-header-cell .rbc-today {
  background-color: #149cdb !important;
}

.rbc-time-slot {
  color: #74a4c3;
  z-index: 1;
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
  background-color: #ffffff;
}

/*Event Styles*/
.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell>span {
  background: #E0E0E0 !important;
  border-radius: 16px !important;
  padding: 3px 12px 3px 12px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border: 1px solid #eff4f7;
}

/* detects '<<' on <<all day>> placeholder */
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell>span::before {
  display: none !important;
}

/* detects '>>' on <<all day>> placeholder */
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell>span::after {
  display: none !important;
}

.rbc-event-label {
  display: flex !important;
  text-align: center !important;
  padding: 5px;
  width: 100%;
}


div .rbc-event-content {
  padding: 5px;
  background-color: #e4e0c2;
  color: #000;
}

.rbc-overflowing {
  margin-right: 0px !important;
}

.rbc-show-more {
  background-color: #F0F2F5;
}

.rbc-time-content {
  overflow-y: auto !important;
  max-height: 500px;
}

.rbc-time-view {
  max-height: 600px;
}

/* .rbc-time-slot {
  min-height: 10px !important;
} */


/* .rbc-timeslot-group{
  min-height: 10px !important;
} */

.rbc-event-label {
  height: 100% !important;
  display: none !important;
}

.rbc-event-content {
  padding: 0px !important;
  cursor: default;
}

.rbc-label {
  min-height: 17px !important;
}

.rbc-toolbar {
  padding-top: 1rem;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-timeslot-group {
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

.rbc-day-slot .rbc-timeslot-group .rbc-time-slot:hover {
  border: 2px solid #1890ff;
  animation: borderPulse 1s infinite alternate;
  cursor: pointer !important;
}

@keyframes borderPulse {
  0% {
    border-color: #1890ff;
  }

  100% {
    border-color: #40a9ff;
    /* A slight variation of the original color for the animation */
  }
}

.rbc-btn-group button:hover {
  background-color: #60B2C7;
  color: #FFF;
}

/* Đảm bảo header không bị ảnh hưởng bởi scrollbar */
.rbc-time-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F0F2F5;
  border-bottom: 1px solid #ddd;
  padding-right: 8px
}

.rbc-time-content::-webkit-scrollbar {
  width: 8px;
  /* Độ rộng scrollbar */
}

.rbc-time-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.rbc-time-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rbc-time-header-content {
  display: flex;
}

.rbc-time-header-cell {
  flex: 1 1 auto;
}

.rbc-time-content>*>.rbc-day-slot {
  flex: 1 1 auto;
}

.rbc-time-header-gutter {
  border: 1px solid #ddd;
}

.rbc-time-view {
  border-style: none;
}